body
{
     background-image: url(back.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     font-family: 'Josefin Sans', sans-serif; 
     max-width:auto;
}
form
{
   margin-top:60px;
   margin-left:400px;
   margin-right:400px;
   padding:50px;
   border-radius: 10px;
   border:3px solid white;
   box-shadow: 1px 1px 4px black;
   background-size: cover;
   background-color: whitesmoke;
   box-sizing: border-box;
   position: relative;
}
abbr
{
    text-decoration: none;
}
.close a
{
    margin-left:400px;
    text-decoration:none;
    font-size:20px;
    box-sizing: border-box;
    color:black;
    padding-top:3px;
}
.close a:hover
{
    color:red;
}
.title
{
    font-size:25px;
    text-align: center;
    font-weight: 900;
    margin-right:150px;
}
.fa-user-circle
{
    position: absolute;
    top:170px;
    left:118px; 
}
.fa-lock
{
    position: absolute;
    top:224px;
    left:124px; 
}
input
{
    outline:0px;
    border: none;
    font-size:15px;
    font-weight: 600;
    padding:5px 30px 5px 0px;
    margin-top:10px;
    margin-left:115px;  
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}
.login a
{
    position: absolute;
    margin-top:30px;
    border:2px solid tan;
    margin-left:150px;
    font-family: cursive;
    background-size:cover;
    font-weight: 400;
    border-radius: 20px;
    padding-top:3px;
    padding-bottom:3px;
    padding-right:30px;
    padding-left:30PX;
    font-size:20px;
    color: black;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.login a:hover
{
    background-image:linear-gradient(to left,red,yellow);
    background-repeat: no-repeat;
}
.tex
{
    position: relative;
    top: 50px;
    left:155px;
}

.img-g
{
 margin-left:145px;
}
.img-f
{
    margin-left:40px;
     position: relative;
     top:5px;
}
.fp
{
    margin-top:10px;
    text-align: center;
}