*{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif; 
}
body
{
    max-width:auto;
    background-color: #f7f7f7;
    position: relative;
}
.Top-bar
{
    position:static;
    top:0;
    background-color: #ff0040;
    width:100%;
    height:28px;
    margin-top:0;
}
.Top-bar span
{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600; 
    padding-left:50px;
    font-size:14px;
    letter-spacing:1.5px;
}
nav
{ 
    position: absolute;
    top:0px;
    left:800px;

} 	
nav .Top-item
{ 
	text-align:left; 
    background:transparent; 
    font-size:12px;
} 
nav .Top-bar-list
{ 
    display:inline-block; 
    padding-left:20px;
} 
nav a
{ 
	display:inline-block; 
	padding-top:0px; 
	text-decoration: none; 
	font-weight:400; 
    color:white;
    letter-spacing:1.5px;
    font-family: 'PT Sans', sans-serif;
} 
nav a:hover
{
    border-bottom: 2px solid black
}
.close a
{
    float: right;
    text-decoration:none;
    font-size:20px;
}
.close a:hover
{
    color: red;
}
.payment-title
{
    margin-top:150px;
}
h1
{
 text-align: center;
 font-size:60px;
}
h2
{
    text-align: center;
    font-size:30px;
}
.fa-check-circle-o
{
    margin-left:640px;
    color: yellowgreen;
}
#con a
{
    border:1px solid black;
    text-decoration: none;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
    color: black;
    margin-left:580px;
}

