body{
	margin:0;
	padding:0;
	font-size:16px;
	color:#777;
    font-family: 'Josefin Sans', sans-serif; 
	font-weight:400;
}
.Top-bar
{
    position:static;
    top:0;
    background-color: #ff0040;
    width:100%;
    height:4.197901049475262vh;
    margin-top:0;
    margin-bottom:0;
}
.Top-bar span
{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600; 
    padding-left: 3.6603221083455346vw;
    font-size:2.098950524737631vh;
    letter-spacing:1.5px;
}
nav
{ 
	position: absolute;
	top:-3px;
	left:58.565153733528554vw;

} 	
nav .Top-item
{ 
	text-align:left; 
    background:transparent; 
    font-size: 1.7991004497751124vh;
} 
nav .Top-bar-list
{ 
    display:inline-block; 
    padding-left:1.4641288433382138vw;
} 
nav a
{ 
	display:inline-block; 
	padding-top:0px; 
	text-decoration:none;
	font-weight:400;  
    color:white;
    letter-spacing:0.22488755622188905vh;
    font-family: 'PT Sans', sans-serif;
}
nav a:hover
{
    border-bottom: 2px solid white;
}

#login-box{
	position:relative;
	margin:100px auto;
	height:400px;
	width:600px;
	background-color: white;
	box-shadow: 1px 2px 5px #ff0040;
}
.image img
{
	width:350px;
	margin-left:253px;
}

.left-box
{
	position:absolute;
	top:0;
	left:0;
	box-sizing:border-box;
	padding:40px;
	width:300px;
	height:300px;
}
input
{
	display:block;
	box-sizing:border-box;
	margin-bottom:20px;
	padding:4px;
	width:220px;
	height:32px;
	border:none;
	outline:none;
	border-bottom:1px solid #aaa;
	font-family:sans-serif;
	font-weight:400;
	font-size:15px;
	transition:0.2s ease;
	
}
#link
{
	
	margin-top:30px;
}
#link
{
	text-decoration: none;
	border: 1px solid #ff0040;
	background-color:#ff0040;
	color:white;
	font-weight:400;
	transition-duration: 0.4s;
	outline: none;
}
#link:hover
{
	background-color: white;
	color: #ff0040;
	outline: none;
}
.right-box{
	position:absolute;
	top:20px;
	right:0;
	box-sizing:border-box;
	padding:40px;
	width:300px;
	height:400px;
	background:url();
	background-size:cover;
	background-position:center;
	
}
.right-box .signinwith{
	display:block;
	margin-bottom:50px;
	font-size:28px;
	color:gray;
	text-align:center;
}
.right-box input{
	
	margin-bottom:30px;
	width:220px;
	border-radius:10px;
	color:#fff;
	font-family:sans-serif;
	font-weight:900;
	transition:0.4s;
	cursor:pointer;

}

.facebook{
	background:#32508e;
}

.twitter{
	background:#55acee;
}

.google{
	background:#dd4b39;
}
.facebook:hover {
	background-color: white;
	color: #32508e;
	border:2px solid #32508e;
}

.twitter:hover{
	background-color: white;
	color: #55acee;
	border:2px solid #55acee;
}

.google:hover{
	background-color: white;
	color: #dd4b39;
	border:2px solid #dd4b39;
}
